* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#home {
    opacity: 0.7;
    border-bottom: 1px solid;
}
.list:hover {
    opacity: 0.7;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}

.nav ul li {
    margin: 20px;
}

.nav a {
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
}

.nav ul {
    z-index:2;
    justify-content: center;
    list-style: none;
    display: flex;
    transition: 0.5s;
}

.menu-icon {
    position: absolute;
    left: 20px;
    top: 50px;
    font-size: 1.5rem;
    cursor: pointer;
}

.fa-solid {
    display: none;
}

.body {
    padding: 20px;
    display: flex;
    /* flex-wrap: wrap; */
    min-width: 300px;
    border: 1px solid;
}

.body img {
    width: 50%;
    height: 85vh;
}

.body .content {
    /* background-color: rgba(211, 211, 211, 0.375); */
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    text-align: center;
    padding: 50px;
}

@media screen and (max-width: 600px) {
    .fa-solid {
        display: inline;
    }

    .body .content {
        font-size: 0.6rem;
    }

    .nav ul {
        overflow: hidden;
        padding-top: 50px;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 0px;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
    }

    .body {
        display: flex;
        flex-wrap: wrap;
    }

    .nav ul .fa-solid {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .para p {
        font-size: 0.6rem;
    }
    .body img {
        width: 100%;
        height: 85vh;
    }
    #name{
        width: 50%;
    }

}
